flow1.txt
[{"id":"5672d5d7.e23efc","type":"list-devices","z":"27ef8781.821768","config":"b4e9396c.a07dc8","state":"registered","stateEq":"$eq","x":172.5,"y":157.5,"wires":[["c0e244f5.04fc18","b451716c.faeec"]]},{"id":"c0e244f5.04fc18","type":"function","z":"27ef8781.821768","name":"Get list of devices to use in node-red-dashboard+","func":"msg.options = new Array(msg.payload.data.length);\nvar numConnectedDevices = 0;\nfor(var i = 0; i < msg.options.length; i++ ){\n    msg.options[i] = msg.payload.data[i].id;\n    numConnectedDevices++;\n}\nglobal.set(\"numConnectedDevices\", numConnectedDevices);\nreturn msg;","outputs":1,"noerr":0,"x":284.2301025390625,"y":219.18252563476562,"wires":[["24077914.d24b86"]]},{"id":"b451716c.faeec","type":"debug","z":"27ef8781.821768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":379.46429443359375,"y":158.1547393798828,"wires":[]},{"id":"7049652c.bb19bc","type":"get-device","z":"27ef8781.821768","config":"b4e9396c.a07dc8","limit":"","deviceId":"","x":703.0712280273438,"y":165.78585624694824,"wires":[["72d676a5.a78b28","bfe6887c.e73098"]]},{"id":"72d676a5.a78b28","type":"debug","z":"27ef8781.821768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":908.785514831543,"y":120.07156276702881,"wires":[]},{"id":"bfe6887c.e73098","type":"ui_template","z":"27ef8781.821768","group":"bd04d379.82cde","name":"","order":3,"width":"12","height":"2","format":"<div>\n    <h4>Device Properties</h4>\n    <p>Device Name:  {{msg.payload.name}}</p>\n    <p>Bootstrapped: {{msg.payload.bootstrappedTimestamp}}</p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":913.0712280273438,"y":165.78585624694824,"wires":[[]]},{"id":"51b529ec.c28648","type":"function","z":"27ef8781.821768","name":"Set base num of faulty devices","func":"global.set(\"numFaultydevices\",0);\nreturn msg;","outputs":1,"noerr":0,"x":484.11900329589844,"y":81.02384090423584,"wires":[[]]},{"id":"f4b38d41.1b059","type":"change","z":"27ef8781.821768","name":"","rules":[{"t":"set","p":"deviceId","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"deviceId","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":448.3331604003906,"y":283.00000000000006,"wires":[["7049652c.bb19bc","eb4ebf7c.82d6f","364954d9.51563c","d3eced9c.fcb7a"]]},{"id":"24077914.d24b86","type":"ui_dropdown","z":"27ef8781.821768","name":"","label":"Device ID:-IoT Discovery","place":"Select option","group":"bd04d379.82cde","order":1,"width":"12","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":197.055419921875,"y":281.8810119628907,"wires":[["f4b38d41.1b059"]]},{"id":"eb4ebf7c.82d6f","type":"debug","z":"27ef8781.821768","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":639.7299766540527,"y":242.2936611175537,"wires":[]},{"id":"19bc0f9f.98a67","type":"ui_button","z":"27ef8781.821768","name":"","group":"bd04d379.82cde","order":5,"width":"4","height":"1","passthru":false,"label":"Find IoT Discovery","color":"","bgcolor":"","icon":"","payload":"123456","payloadType":"str","topic":"","x":168.61898040771484,"y":82.73809432983398,"wires":[["51b529ec.c28648","5672d5d7.e23efc"]]},{"id":"364954d9.51563c","type":"change","z":"27ef8781.821768","name":"Get Counter Resource","rules":[{"t":"set","p":"resourceURI","pt":"msg","to":"/3200/0/5501","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":695.0624618530273,"y":306.0688076019287,"wires":[["308fa94a.7f6406","2c24a25f.d2490e"]]},{"id":"308fa94a.7f6406","type":"add-resource-subscription","z":"27ef8781.821768","config":"b4e9396c.a07dc8","deviceId":"","resourceURI":"","x":972.3007278442383,"y":295.4973154067993,"wires":[["35951867.50a488","f03b4634.3a7d98"]]},{"id":"2c24a25f.d2490e","type":"get-resource-value","z":"27ef8781.821768","config":"b4e9396c.a07dc8","deviceId":"","resourceURI":"","x":953.2172889709473,"y":349.24731159210205,"wires":[["35951867.50a488","f03b4634.3a7d98"]]},{"id":"35951867.50a488","type":"ui_gauge","z":"27ef8781.821768","name":"","group":"571b1626.26cbf8","order":1,"width":"4","height":"4","gtype":"gage","title":"Counter","label":"units","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"300","x":1265.7497253417969,"y":294.6687259674072,"wires":[]},{"id":"f03b4634.3a7d98","type":"ui_chart","z":"27ef8781.821768","name":"","group":"571b1626.26cbf8","order":2,"width":"8","height":"4","label":"Count History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"25","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1283.756118774414,"y":346.05614852905273,"wires":[[],[]]},{"id":"e8f1b2a.b2f155","type":"ui_slider","z":"27ef8781.821768","name":"","label":"Dispense Time","group":"571b1626.26cbf8","order":3,"width":"9","height":"1","passthru":true,"topic":"","min":0,"max":"5","step":"0.25","x":692.7562103271484,"y":456.956205368042,"wires":[["616a7ce2.bde844"]]},{"id":"22021600.d0a84a","type":"set-resource-value","z":"27ef8781.821768","config":"b4e9396c.a07dc8","deviceId":"","resourceURI":"","payload":"","x":1205.9690322875977,"y":455.06877422332764,"wires":[[]]},{"id":"616a7ce2.bde844","type":"function","z":"27ef8781.821768","name":"Slider","func":"var setting = msg.payload;\nstring = setting.toString();\nmsg.payload = string;\nflow.set(\"Setting\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":859.9961776733398,"y":459.84607315063477,"wires":[["6d9beb9f.3dbd94"]]},{"id":"6d9beb9f.3dbd94","type":"function","z":"27ef8781.821768","name":"","func":"var setting = flow.get(\"Setting\");\nmsg.resourceURI = flow.get(\"uri\");\nmsg.deviceId = flow.get(\"deviceId\");\nmsg.payload = setting;\nreturn msg;","outputs":1,"noerr":0,"x":1001.2462921142578,"y":397.17919921875,"wires":[["22021600.d0a84a","e0bcf073.3ef1e"]]},{"id":"b0d7febd.52ee8","type":"function","z":"27ef8781.821768","name":"","func":"flow.set(\"uri\", msg.resourceURI);\nflow.set(\"deviceId\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":852.7500762939453,"y":393.159215927124,"wires":[["6d9beb9f.3dbd94"]]},{"id":"d3eced9c.fcb7a","type":"change","z":"27ef8781.821768","name":"Set Run Time","rules":[{"t":"set","p":"resourceURI","pt":"msg","to":"/3201/0/5853","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":616.0625,"y":360.0687370300293,"wires":[["b0d7febd.52ee8","27dab271.8edfbe"]]},{"id":"e0bcf073.3ef1e","type":"ui_text","z":"27ef8781.821768","group":"571b1626.26cbf8","order":0,"width":"3","height":"1","name":"","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":1168.762466430664,"y":399.2874050140381,"wires":[]},{"id":"27dab271.8edfbe","type":"function","z":"27ef8781.821768","name":"","func":"msg.payload = 5.0;\nreturn msg;","outputs":1,"noerr":0,"x":535.0625076293945,"y":456.068754196167,"wires":[["e8f1b2a.b2f155"]]},{"id":"b4e9396c.a07dc8","type":"cloud-config","z":"","host":"https://api.us-east-1.mbedcloud.com"},{"id":"bd04d379.82cde","type":"ui_group","z":"","name":"ST IoT Discovery","tab":"e4fb53cd.5c908","order":2,"disp":true,"width":"12","collapse":false},{"id":"571b1626.26cbf8","type":"ui_group","z":"","name":"Dispense Control","tab":"e4fb53cd.5c908","order":4,"disp":true,"width":"12","collapse":false},{"id":"e4fb53cd.5c908","type":"ui_tab","z":"","name":"IoT Discovery","icon":"dashboard","order":4}]
